[Unit]
Description=This service starts the multi module platform application on python.
After=network.target
Requires=pigpiod.service
Conflicts=getty@tty1.service

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3 /home/pi/multi-platform/main.py
WorkingDirectory=/home/pi/multi-platform
Restart=always
RestartSec=30
StandardInput=tty-force

[Install]
WantedBy=multi-user.target